[user]
	email = irene.bravo.user@gmail.com
	name = irenebravo
[push]
	default = simple

# autocorrect entries
[help]
	autocorrect = 1

# be nice on pulls
[pull]
	rebase = true

# rebase when pulling
[rebase]
	autoStash = true
